<?xml version="1.0"?>
<launch>
    <!-- Map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find localization)/maps/my_map.yaml" />
    
    <!-- AMCL -->
    <node pkg="amcl" type="amcl" name="amcl"    output="screen">
        <remap from="scan" to="/scan" />
        <remap from="tf" to="/tf" />
        <param name="initial_pose_x" value="-1.0"/>
        <param name="initial_pose_y" value="0.5"/>
        <param name="initial_pose_a" value="0.0"/>
    </node>
</launch>

